<.header>
  Edit Calculo <%= @calculo.id %>
  <:subtitle>Use this form to manage calculo records in your database.</:subtitle>
</.header>

<.calculo_form changeset={@changeset} action={~p"/calculos/#{@calculo}"} />

<.back navigate={~p"/calculos"}>Back to calculos</.back>
