<.header>
  Edit Formula <%= @formula.id %>
  <:subtitle>Use this form to manage formula records in your database.</:subtitle>
</.header>

<.formula_form changeset={@changeset} action={~p"/fisica/#{@formula}"} />

<.back navigate={~p"/fisica"}>Back to fisica</.back>
