<.header>
  New Formula
  <:subtitle>Use this form to manage formula records in your database.</:subtitle>
</.header>

<.fisica_form changeset={@changeset} action={~p"/fisica/calcpeso"} />

<section>
  <h2>Hello World, from Phoenix!</h2>
</section>

<.back navigate={~p"/fisica"}>Back to fisica</.back>