<.header>
  Calculo de peso
  <:subtitle>Use this form to manage formula records in your database.</:subtitle>
</.header>

<.fisica_form_peso changeset={@changeset} action={~p"/fisica/calcpeso"} />

<!--section>
  <h2>Hello World, from Phoenix!</h2>
</section-->

<.back navigate={~p"/fisica"}>Ir para a lista</.back>