<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:massa]} type="number" label="Massa" step="any" />
  <.input field={f[:espaco]} type="text" label="Espaco" />
  <:actions>
    <.button>Save Formula</.button>
  </:actions>
</.simple_form>
